process {
    cpus = { methods.check_max( 1 * task.attempt, 'cpus' ) }

    errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel:process_low {
        cpus = { methods.check_max( 2 * task.attempt, 'cpus' ) }
        memory = { methods.check_max( 3.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_medium {
        cpus = { methods.check_max( 6 * task.attempt, 'cpus' ) }
        memory = { methods.check_max( 42.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_high {
        cpus = { methods.check_max(12 * task.attempt, 'cpus' ) }
        memory = { methods.check_max( 84.GB * task.attempt, 'memory' ) }
    }
}
