import nextflow.util.SysHelper

params {
    //algorithm running environment
    ucla_cds = true

    cache_intermediate_pipeline_steps = false
    
    //algorithm version
    pipeval_version = "2.1.6"
    mutect2_version = "4.2.2.0"
    somaticsniper_version = "1.0.5.0"
    bam_readcount_version = "0.8.0"
    strelka2_version = "2.9.10"
    manta_version = "1.6.0"
    docker_image_validate_params = "blcdsdockerregistry/pipeval:${params.pipeval_version}"
    docker_image_mutect2 = "broadinstitute/gatk:{params.mutect2_version}"
    docker_image_somaticsniper = "blcdsdockerregistry/somaticsniper:${params.somaticsniper_version}"
    docker_image_bam_readcount = "blcdsdockerregistry/bam-readcount:${params.bam_readcount_version}"
    docker_image_strelka2 = "blcdsdockerregistry/strelka2:${params.strelka2_version}"
    docker_image_manta = "blcdsdockerregistry/manta:${params.manta_version}"
    
}

docker {
    enabled = true
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"
    runOptions = "${uid_and_gid} ${all_group_ids}"
}

process {
    executor = 'local'
}
