docker {
    enabled = true
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"
    runOptions = "${uid_and_gid} ${all_group_ids}"
}

params {
    //algorithm running environment
    ucla_cds = true

    cache_intermediate_pipeline_steps = false
    
    //algorithm version
    mutect2_version = "Mutect2-4.2.2"
    strelka2_version = "Strelka2-2.9.10"
    somaticsniper_version = "SomaticSniper-1.0.5.0"
}