// Other processes after create_IndelCandidate_SAMtools will only run one at a time, so
// we don't need to control their resources.

process {
    withName: run_validate {
        cpus = 1
        memory = 1.GB
    }
    withName: call_sSNV_SomaticSniper {
        cpus = 1
        memory = 316.GB
    }
    withName: convert_BAM2Pileup_SAMtools {
        cpus = 1
        memory = 316.GB
    }
    withName: create_IndelCandidate_SAMtools {
        cpus = 1
        memory = 316.GB
    }
    withName: call_sIndel_Manta {
        cpus = 64
    }
    withName: call_sSNV_Strelka2 {
        cpus = 64
    }
    withName: call_sSNVInAssembledChromosomes_Mutect2 {
        cpus = 2
        memory = 8.GB
    }
}
