import nextflow.util.SysHelper

methods {
    set_output_directory = {
        def tz = TimeZone.getTimeZone("UTC")
        def date = new Date().format("yyyyMMdd'T'HHmmss'Z'", tz)
        params.output_dir = "${params.output_dir}/${manifest.name}-${manifest.version}/${params.sample_name}"
        params.output_log_dir = "${params.output_dir}/log-${manifest.name}-${manifest.version}-${date}"
    }


    set_process = {
        process.cache = params.cache_intermediate_pipeline_steps
    }

    set_pipeline_log = {
        trace.enabled = true
        trace.file = "${params.output_log_dir}/nextflow-log/trace.txt"

        timeline.enabled = true
        timeline.file = "${params.output_log_dir}/nextflow-log/timeline.html"
            
        report.enabled = true
        report.file = "${params.output_log_dir}/nextflow-log/report.html"
    }

    setup = {
        methods.set_output_directory()
        methods.set_process()
        methods.set_pipeline_log()
    }
}