// Other processes after samtools_varfilter will only run one at a time, so
// we don't need to control their resources.

process {
    withName: validate_file {
        cpus = 1
        memory = 1.GB
    }
    withName: bam_somaticsniper {
        cpus = 1
        memory = 45.GB
    }
    withName: samtools_pileup {
        cpus = 1
        memory = 45.GB
    }
    withName: samtools_varfilter {
        cpus = 1
        memory = 45.GB
    }
}