import nextflow.util.SysHelper

/**
*       This section contains the meta data for this pipeline.
*/

manifest {
    mainScript = 'main.nf'
    nextflowVersion = '>=20.07.1'
    author = 'Yuan Zhe (Caden) Bugh, Mao Tian, Sorel Fitz-Gibbon'
    homePage = 'https://github.com/uclahs-cds/pipeline-call-sSNV'
    version = '7.0.0-rc.2'
    name = 'call-sSNV'
}
