import nextflow.util.SysHelper

/**
*       This section contains the meta data for this pipeline.
*/

manifest {
    name = 'call-sSNV'
    author = 'Yuan Zhe (Caden) Bugh, Mao Tian, Sorel Fitz-Gibbon'
    description = 'Nextflow pipeline to identify the somatic single nucleotide variants (sSNVs) by comparing a pair of tumor/normal samples'
    version = '8.2.0'
}
