import nextflow.util.SysHelper

/**
*       This section contains the meta data for this pipeline.
*/

manifest {
    mainScript = 'call-sSNV.nf'
    nextflowVersion = '>=20.07.1'
    author = 'Yuan Zhe (Caden) Bugh, Mao Tian'
    homePage = 'https://github.com/uclahs-cds/pipeline-call-sSNV'
    version = '3.0.0-rc.1'
    name = 'call-sSNV'
}
