manifest {
    mainScript = 'call-sSNV.nf'
    nextflowVersion = '>=20.07.1'
    author = 'Yuan Zhe (Caden) Bugh'
    homePage = 'https://github.com/uclahs-cds/pipeline-call-sSNV'
}

params {
    sample_name = ''
    tumor = ''
    tumor_index = ''
    normal = ''
    reference = '/path/to/genome.fa'
    output_dir = ''
    save_intermediate_files = false
}

process {
    executor = 'local'
}

docker {
    enabled = true
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}
