import nextflow.util.SysHelper

manifest {
    mainScript = 'call-sSNV.nf'
    nextflowVersion = '>=20.07.1'
    author = 'Yuan Zhe (Caden) Bugh'
    homePage = 'https://github.com/uclahs-cds/pipeline-call-sSNV'
}

params {
    sample_name = ''
    algorithm = '' // 'somaticsniper' or 'strelka2'
    tumor = ''
    normal = ''
    reference = '/path/to/genome.fa'
    output_dir = ''
    save_intermediate_files = true
}

process {
    executor = 'local'
}

def node_cpus = SysHelper.getAvailCpus()
def node_mem  = SysHelper.getAvailMemory().toString()

if (node_cpus == 2 && node_mem == '3 GB') {
    includeConfig "${projectDir}/config/lowmem.config"
} else if (node_cpus == 72 && node_mem == '136.8 GB') {
    includeConfig "${projectDir}/config/midmem.config"
} else if (node_cpus == 64 && node_mem == '950 GB') {
    includeConfig "${projectDir}/config/execute.config"
} else {
    throw new Exception('ERROR: System resources not as expected, unable to assign resources.')
}

docker {
    enabled = true
    runOptions = "-u \$(id -u):\$(id -g)"
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}
