// Other processes after create_IndelCandidate_SAMtools will only run one at a time, so
// we don't need to control their resources.

process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
    }
    withName: call_sSNV_SomaticSniper {
        cpus = 1
        memory = 10.GB
    }
    withName: convert_BAM2Pileup_SAMtools {
        cpus = 1
        memory = 10.GB
    }
    withName: create_IndelCandidate_SAMtools {
        cpus = 1
        memory = 10.GB
    }
    withName: call_sIndel_Manta {
        cpus = 16
        memory = 15.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 5.GB
            }
        }
    }
    withName: call_sSNV_Strelka2 {
        cpus = 16
        memory = 15.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 5.GB
            }
        }
    }
    withName: call_sSNVInAssembledChromosomes_Mutect2 {
        cpus = 2
        memory = 5.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 5.GB
            }
        }
    }

    withName: call_sSNVInNonAssembledChromosomes_Mutect2 {
        cpus = 2
        memory = 20.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 5.GB
            }
        }
    }
    withName: run_LearnReadOrientationModel_GATK {
        cpus = 4
        memory = 8.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_sump_MuSE {
        cpus = 16
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 10.GB
            }
        }
    }
    withName: call_sSNV_MuSE {
        cpus = 16
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 10.GB
            }
        }
    }
}
