// Other processes will only run one at a time, so
// we don't need to control their resources.
// The configuration below forces processes to run one at a time by needing
// the total memory available on a lowmem node.

process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 2.GB
    }
    withName: call_sSNV_SomaticSniper {
        cpus = 1
        memory = 2.GB
    }
    withName: convert_BAM2Pileup_SAMtools {
        cpus = 1
        memory = 2.GB
    }
    withName: create_IndelCandidate_SAMtools {
        cpus = 1
        memory = 2.GB
    }
    withName: call_sIndel_Manta {
        cpus = 2
    }
    withName: call_sSNV_Strelka2 {
        cpus = 2
    }
    withName: plot_VennDiagram_R {
        cpus = 2
    }
    withName: concat_VCFs_BCFtools {
        cpus = 2
    }
}
