// Other processes after create_IndelCandidate_SAMtools will only run one at a time, so
// we don't need to control their resources.

process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
    }
    if (params.input_type == 'bam') {
        withName: call_sSNV_SomaticSniper {
            cpus = 1
            memory = 20.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 20.GB
                }
            }
        }
        withName: convert_BAM2Pileup_SAMtools {
            cpus = 1
            memory = 30.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 30.GB
                }
            }
        }
        withName: create_IndelCandidate_SAMtools {
            cpus = 1
            memory = 10.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 10.GB
                }
            }
        }
        withName: call_sIndel_Manta {
            cpus = 8
            memory = 10.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 10.GB
                }
            }
        }
        withName: call_sSNV_Strelka2 {
            cpus = 28
            memory = 30.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 30.GB
                }
            }
        }
        withName: call_sSNV_Mutect2 {
            cpus = 1
            memory = 30.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 30.GB
                }
            }
        }
        withName: run_LearnReadOrientationModel_GATK {
            cpus = 1
            memory = 30.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 30.GB
                }
            }
        }
        withName: call_sSNV_MuSE {
            cpus = 16
            memory = 120.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 60.GB
                }
            }
        }
        withName: run_sump_MuSE {
            cpus = 6
            memory = 40.GB
            retry_strategy {
                memory {
                    strategy = 'add'
                    operand = 20.GB
                }
            }
        }
    }
    withName: plot_VennDiagram_R {
        cpus = 2
        memory = 5.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 10.GB
            }
        }
    }
    withName: concat_VCFs_BCFtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 10.GB
            }
        }
    }
}
