---
name: Build and Deploy Docs

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]*'

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4

      - name: Deploy docs
        uses: uclahs-cds/tool-Nextflow-action/build-and-deploy-docs@v1
